@media screen and (max-width: 600px) {
  body {
    padding: 0 20px;
  }

  .menu_link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    position: absolute;
    top: 95%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  
  .menu_link a {
    font-size: 14px;
  }

  .hamburger_menu:hover + ul {
    max-height: 1000px;
    color: red;
  }

  nav {
    padding: 20px;
  }
  nav > ul {
    display: none;
  }
  .logo_container {
    gap: 10px;
  }
  .logo_container h3 {
    font-size: 22px;
  }
  .logo_container img {
    width: 29px;
    height: 33px;
  }
  .hamburger_menu {
    display: block;
    font-size: 25px;
  }

  /* ! banner section */
  .banner {
    margin-top: 45px;
    width: 100%;
    padding: 32px 24px;
    gap: unset;
  }
  .banner form {
    flex-direction: column;
    width: 100%;
    margin-top: 32px;
  }
  .banner form input,
  .banner form button {
    width: 100%;
  }

  .banner_title {
    font-size: 22px;
  }
  .banner_desc {
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
  }

  .select {
    width: 100%;
  }

  /* ! popular section */
  .popular {
    margin-top: 24px;
    flex-direction: column;
    gap: 24px;
  }

  .popular_content {
    gap: 16px;
  }

  .popular_content_title {
    font-size: 20px;
  }

  .popular_content_desc,
  .popular_list li {
    font-size: 14px;
    line-height: 24px;
  }

  .popular_list li {
    margin-bottom: 10px;
  }

  /* ! destination section */
  .destination {
    margin-top: 24px;
  }

  .destination_content {
    gap: 16px;
  }

  .destination_title {
    font-size: 20px;
  }

  .destination_desc {
    max-width: 309px;
    font-size: 14px;
    line-height: 24px;
  }

  .destination_img_grid {
    margin-top: 20px;
    grid-template-rows: repeat(7, 176px);
    gap: 16px 0;
    grid-template-areas:
      "i1 i1 i1 i1 i1 i1 i1 i1 i1 i1 i1 i1"
      "i2 i2 i2 i2 i2 i2 i2 i2 i2 i2 i2 i2"
      "i3 i3 i3 i3 i3 i3 i3 i3 i3 i3 i3 i3"
      "i4 i4 i4 i4 i4 i4 i4 i4 i4 i4 i4 i4"
      "i5 i5 i5 i5 i5 i5 i5 i5 i5 i5 i5 i5"
      "i6 i6 i6 i6 i6 i6 i6 i6 i6 i6 i6 i6"
      "i7 i7 i7 i7 i7 i7 i7 i7 i7 i7 i7 i7";
  }

  .destination_img_grid > div p {
    font-size: 20px;
    font-weight: 700;
  }
  /* ! service section */

  .service {
    margin-top: 24px;
  }

  .service_content {
    gap: 16px;
  }

  .service_title {
    font-size: 20px;
  }

  .service_desc {
    max-width: 309px;
    font-size: 14px;
    line-height: 24px;
  }

  .service_card_container {
    margin-top: 20px;
    grid-template-rows: repeat(3, 1fr);
    gap: 16px 0;
    grid-template-areas:
      "c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1"
      "c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2"
      "c3 c3 c3 c3 c3 c3 c3 c3 c3 c3 c3 c3 ";
  }
  .service .card_title {
    margin-top: 16px;
    font-size: 20px;
  }

  .service .card_desc {
    font-size: 14px;
    line-height: 24px;
  }

  /* ! newsletter section */
  .newsletter {
    margin-top: 20px;
  }
  .newsletter {
    grid-template-columns: repeat(1, 1fr);
  }
  .newsletter_content {
    grid-column: 1 / -1;
  }
  .newsletter_img {
    grid-column: 1 / -1;
  }

  .newsletter_content {
    padding: 24px;
  }

  .newsletter_img .discount {
    width: max-content;
    padding: 1rem 1.5rem;
  }

  .newsletter_img .discount p {
    font-size: 15.854px;
  }

  .newsletter_img .discount h3 {
    font-size: 21.138px;
  }

  .newsletter_img .discount {
    bottom: 9%;
  }

  .newsletter_title {
    font-size: 20px;
  }

  .newsletter_desc {
    margin-top: 10px;
    font-size: 14px;
  }
  /* ! footer section */
  footer {
    margin-top: 20px;
    padding: 32px 10px;
  }
  .footer_title {
    gap: 9px;
  }
  .footer_title h3 {
    font-size: 21px;
  }

  .footer_desc {
    font-size: 14px;
    line-height: 24px;
  }
  .footer_desc {
    margin-bottom: 16px;
  }

  .footer_link {
    margin-bottom: 24px;
  }

  footer .hr {
    margin-bottom: 24px;
  }

  .footer_link a i {
    font-size: 20px;
  }

  /* ! deals and discount section */
  .deals_and_discount {
    margin-top: 24px;
  }

  .deals_and_discount_title {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .deals_and_discount_desc {
    font-size: 14px;
    line-height: 24px;
  }

  .deals_and_discount_grid {
    gap: 16px;
  }

  .deals_and_discount_grid .item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: end;
    padding: 16px;
  }

  .deals_and_discount_grid .item-1 .discount_card {
    grid-column: 1 / span 6;
  }

  .deals_and_discount_grid .item-2 .discount_card {
    grid-column: 1 / span 6;
  }

  .deals_and_discount_grid .item-3 .discount_card {
    grid-column: 1 / span 6;
  }

  .discount_card {
    padding: 24px;
  }

  .discount_card_title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .discount_card_desc {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 24px;
  }

  .discount_card_price {
    font-size: 16px;
  }
  .discount_card_btn {
    padding: 9px 19px;
    font-size: 18px;
    font-weight: 700;
  }

  .discount_card .heading i {
    font-size: 15px;
  }
  .discount_card .heading span {
    font-size: 14px;
  }

  /* ! perfect place section */
  .perfect_place {
    margin-top: 24px;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px 0;
  }

  .perfect_place_img > p {
    font-size: 20px;
  }

  .perfect_place_title {
    margin-bottom: 16px;
    font-size: 20px;
    max-width: 248px;
    line-height: 30px;
  }

  .perfect_place_desc {
    margin-bottom: 16px;
    color: rgba(19, 19, 24, 0.7);
    font-size: 14px;
    line-height: 24px;
  }

  .perfect_place_list li {
    font-size: 14px;
    line-height: 24px;
  }

  .perfect_place_lis {
    margin-bottom: 24px;
  }

  /* ! top destination section */
  .top_destination {
    margin-top: 24px;
  }
  .top_destination_cards {
    margin-top: 24px;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .top_destination_cards .card {
    padding: unset;
    grid-template-columns: repeat(1, 1fr);
  }
  .top_destination_cards .card_content {
    padding: 1.5rem 1rem;
    grid-column: 1 / -1;
  }

  .top_destination_cards .card_img {
    padding: 8px;
    grid-column: 1 / -1;
  }

  .top_destination_title {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .top_destination_desc,
  .top_destination_cards .card_desc {
    font-size: 14px;
    line-height: 24px;
  }
  .top_destination_cards .card_title_and_price h3 {
    font-size: 18px;
    font-weight: 700;
  }
}
