@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

/* ! common styles hero */
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

/* ! header section start here */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

.logo_container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo_container h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}

.logo_container span {
  color: #ff5400;
}

nav > ul {
  display: flex;
  align-items: center;
  gap: 44px;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #424247;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 400;
}

.highlight {
  color: #ff5400;
  font-weight: 700;
}

.hamburger_menu {
  display: none;
}
/* ! header section end here */

/* ! banner section start here */
.banner {
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/banner_image.png");
  height: 500px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.banner_title {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-weight: 800;
}

.banner_desc {
  margin: 0 auto;
  max-width: 676px;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.banner form {
  margin-top: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.banner form input {
  outline: none;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #ff5400;
  padding: 16px;
}

.dropdown {
  position: relative;
}

.dropdown i {
  position: absolute;
  color: rgba(0, 0, 0, 0.8);
  top: 33%;
  right: 7%;
}

.find_now_bnt {
  padding: 16px 34px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
}
.find_now_bn i {
  margin-right: 6px;
}

.banner form input::placeholder {
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
}

/* ! banner section end here */
/* ! popular section start here */
.popular {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 52px;
}

.popular > div {
  flex: 1;
}

.popular_content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.popular_content_title {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}

.popular_content_desc,
.popular_list li {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.popular_list li {
  list-style-position: inside;
}
.read_more_btn {
  margin-top: 8px;
  padding: 14px 35px;
  align-self: start;
  color: #fff;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 800;
  background-color: #ff5400;
  border-radius: 8px;
}

.popular_img img {
  width: 100%;
  border: 16px;
  vertical-align: middle;
}
/* ! popular section end here */

/* ! destination section start here */
.destination {
  margin-top: 100px;
}

.destination_content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.destination_title {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}

.destination_desc {
  max-width: 643px;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.destination_img_grid {
  margin-top: 48px;
  display: grid;
  gap: 24px;
  grid-template-rows: 300px 286px 300px;
  grid-template-areas:
    "i1 i1 i1 i1 i1 i1 i2 i2 i2 i2 i2 i2"
    "i3 i3 i3 i3 i4 i4 i4 i4 i4 i5 i5 i5"
    "i6 i6 i6 i6 i6 i7 i7 i7 i7 i7 i7 i7";
}

.destination_img_grid > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.destination_img_grid > div p {
  color: #fff;
  font-family: Mulish;
  font-size: 28px;
  font-weight: 800;
}

.item-1 {
  grid-area: i1;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/destination1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-2 {
  grid-area: i2;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/destination2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-3 {
  grid-area: i3;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/destination3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-4 {
  grid-area: i4;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/destination4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-5 {
  grid-area: i5;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/destination5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-6 {
  grid-area: i6;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/destination6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-7 {
  grid-area: i7;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/destination7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ! destination section end here */
