@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none !important;
}

/* ! common styles hero */
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

/* ! header section start here */
header {
  position: relative;
}

.menu_link {
  display: none;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.125rem 0;
}

.logo_container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.logo_container h3 {
  color: #131318;
  font-family: 'Mulish', sans-serif;
  font-size: 2.25rem;
  font-weight: 800;
}

.logo_container span {
  color: #7d5fff;
}

nav > ul {
  display: flex;
  align-items: center;
  gap: 2.75rem;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #424247;
  font-family: 'Mulish', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  position: relative;
}

nav a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.25rem;
  background-color: #7d5fff;
  bottom: -30%;
  border-radius: 0.3125rem;
  transition: width 0.4s ease-in-out;
}
nav a:hover::before {
  width: 100%;
}

.highlight {
  color: #7d5fff;
  font-weight: 700;
}

.hamburger_menu {
  display: none;
}
/* ! header section end here */

/* ! banner section start here */
.banner {
  border-radius: 1rem;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/banner_image.png");
  height: 31.25rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.banner_title {
  color: #fff;
  font-family: 'Mulish', sans-serif;
  font-size: 4rem;
  font-weight: 800;
}

.banner_desc {
  margin: 0 auto;
  max-width: 42.25rem;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.banner form {
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.banner form input {
  outline: none;
  border-radius: 0.5rem;
  background: #fff;
  border: none;
  padding: 1rem;
}

.find_now_bnt {
  padding: 1rem 2.125rem;
  border-radius: 0.5rem;
  background: #7d5fff;
  color: #fff;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

/* ?! select styles  */
.banner form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgba(19, 19, 24, 0.5);
  font-family: 'Mulish', sans-serif;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  padding: 1rem 8.125rem 1rem 1rem;
}

#select-2 {
  padding: 1rem 5.3125rem 1rem 1rem;
}

.select {
  font-family: 'Mulish', sans-serif;
  /* border: 0.0625rem solid #7d5fff; */
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  /* background-image: linear-gradient(to top, #f9f9f9, #fff 33%); */
  position: relative;
}

.arrow {
  position: absolute;
  right: 6%;
  top: 31%;
}

.arrow i {
  font-size: 1.125rem;
  color: #666;
}

select::-ms-expand {
  display: none;
}
/* ?! select styles  */

.banner form input::placeholder {
  color: rgba(19, 19, 24, 0.5);
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

/* .dropdown {
  position: relative;
}

.dropdown i {
  position: absolute;
  color: rgba(0, 0, 0, 0.8);
  top: 33%;
  right: 7%;
} */

.find_now_bnt {
  padding: 1rem 2.125rem;
  border-radius: 0.5rem;
  background: #7d5fff;
  color: #fff;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
.find_now_bn i {
  margin-right: 0.375rem;
}
/* ! banner section end here */
/* ! popular section start here */
.popular {
  margin-top: 6.25rem;
  display: flex;
  align-items: center;
  gap: 3.25rem;
}

.popular > div {
  flex: 1;
}

.popular_content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.popular_content_title {
  color: #131318;
  font-family: 'Mulish', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
}

.popular_content_desc,
.popular_list li {
  color: rgba(19, 19, 24, 0.7);
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}
.popular_list li {
  list-style-position: inside;
  margin-bottom: 0.625rem;
}
.read_more_btn {
  margin-top: 0.5rem;
  padding: 0.875rem 2.1875rem;
  align-self: start;
  color: #fff;
  font-family: 'Mulish', sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  background-color: #7d5fff;
  border-radius: 0.5rem;
}

.popular_img img {
  width: 100%;
  border: 1rem;
  vertical-align: middle;
}
/* ! popular section end here */

/* ! destination section start here */
.destination {
  margin-top: 6.25rem;
}

.destination_content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.destination_title {
  color: #131318;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
}

.destination_desc {
  max-width: 40.1875rem;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.destination_img_grid {
  margin-top: 3rem;
  display: grid;
  gap: 1.5rem;
  grid-template-rows: 18.75rem 17.875rem 18.75rem;
  grid-template-areas:
    "i1 i1 i1 i1 i1 i1 i2 i2 i2 i2 i2 i2"
    "i3 i3 i3 i3 i4 i4 i4 i4 i4 i5 i5 i5"
    "i6 i6 i6 i6 i6 i7 i7 i7 i7 i7 i7 i7";
}

.destination_img_grid > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.destination_img_grid > div p {
  color: #fff;
  font-family: 'Mulish', sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
}

.item-1 {
  grid-area: i1;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/destination1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-2 {
  grid-area: i2;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/destination2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-3 {
  grid-area: i3;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/destination3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-4 {
  grid-area: i4;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/destination4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-5 {
  grid-area: i5;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/destination5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-6 {
  grid-area: i6;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/destination6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-7 {
  grid-area: i7;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/destination7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ! destination section end here */

/* !  service section start here */
.service {
  margin-top: 6.25rem;
}

.service_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.service_title {
  color: #131318;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
}

.service_desc {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  max-width: 40.1875rem;
}

.service_card_container {
  margin-top: 3rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
  grid-template-areas:
    "c1 c1 c1 c1 c1 c1 c2 c2 c2 c2 c2 c2"
    ". . .    c3 c3 c3 c3 c3 c3    . . .";
}

.service .card {
  padding: 2rem;
  border-radius: 1rem;
}

.service .card-1 {
  grid-area: c1;
  border: 0.0625rem solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.service .card-2 {
  grid-area: c2;
  border: 0.0625rem solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.service .card-3 {
  grid-area: c3;
  border: 0.0625rem solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

.service .card_title {
  margin-top: 2rem;
  color: #131318;
  font-family: 'Mulish', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
}

.service .card_desc {
  max-width: 30.375rem;
  color: #5a5a5d;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-top: 1rem;
}
/* !  service section end here */

/* ! newsletter section start here */
.newsletter {
  margin-top: 6.25rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
}

.newsletter_content {
  padding: 2.5rem;
  border-radius: 1rem;
  border: 0.0625rem solid #7d5fff;
  grid-column: 1 / span 5;
}

.newsletter_img {
  grid-column: 6 / -1;
  height: 25rem;
  border-radius: 1rem;
  background-image: url("../Images/newsletter.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.newsletter_content .hr {
  margin-top: 1.5rem;
  width: 100%;
  height: 0.0625rem;
  background: rgba(19, 19, 24, 0.1);
}

.newsletter_title {
  color: #131318;
  font-family: 'Mulish', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
}

.newsletter_desc {
  margin-top: 1rem;
  max-width: 21.875rem;
  color: #5a5a5d;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.newsletter_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.newsletter_form input {
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  background: rgba(19, 19, 24, 0.05);
  outline: none;
  border: none;
}

.newsletter_form input::placeholder {
  color: rgba(19, 19, 24, 0.3);
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.newsletter_form input[type="submit"] {
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  background: #7d5fff;
  color: #fff;
  font-family: 'Mulish', sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  cursor: pointer;
}

.newsletter_img .discount {
  padding: 1.6rem 2rem;
  transform: rotate(-19.628deg);
  flex-shrink: 0;
  border-radius: 1rem;
  background: #7d5fff;
  position: absolute;
  right: 2%;
  bottom: 13%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter_img .discount p {
  color: #fff;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.newsletter_img .discount h3 {
  margin-top: 0.25rem;
  color: #fff;
  font-family: 'Mulish', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

/* ! newsletter section end here */

/* !  footer section start here */
footer {
  margin-top: 6.25rem;
  padding: 6.875rem 0;
  background: rgba(19, 19, 24, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_title {
  margin-bottom: 0.9375rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer_title h3 {
  color: #131318;
  font-family: 'Mulish', sans-serif;
  font-size: 2rem;
  font-weight: 800;
}

.footer_title h3 span {
  color: #7d5fff;
}

.footer_desc {
  margin-bottom: 2.0625rem;
  max-width: 48.0625rem;
  color: #5a5a5d;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.footer_link {
  margin-bottom: 3.125rem;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.footer_link a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
.footer_link a i {
  font-size: 1.5625rem;
}
footer .hr {
  margin-bottom: 3.125rem;
  width: 100%;
  max-width: 54.5rem;
  height: 0.0625rem;
  background: rgba(19, 19, 24, 0.1);
}

.copyright {
  color: #131318;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 300;
}
/* !  footer section end here */

/* ! deals and discount section start here */
.deals_and_discount {
  margin-top: 6.25rem;
}
.deals_and_discount_title {
  margin-bottom: 1.5rem;
  color: #131318;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
}

.deals_and_discount_desc {
  margin: 0 auto;
  max-width: 40.1875rem;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.deals_and_discount_grid {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.deals_and_discount_grid .item {
  overflow: hidden;
  min-height: 31.25rem;
  border-radius: 1rem;
  background-image: url("../Images/deals1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.deals_and_discount_grid .item {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  align-items: center;
}

.deals_and_discount_grid .item-1 .discount_card {
  grid-column: 13 / span 11;
}
.deals_and_discount_grid .item-2 .discount_card {
  grid-column: 2 / span 11;
}
.deals_and_discount_grid .item-3 .discount_card {
  grid-column: 13 / span 11;
}

.deals_and_discount_grid .item-2 {
  background-image: url("../Images/deals2.png");
}

/* ! card */
.discount_card {
  padding: 3.125rem;
  border-radius: 1rem;
  border: 0.125rem solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(0.1563rem);
}

.discount_card .heading {
  margin-bottom: 1.625rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}

.discount_card .heading > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.discount_card .heading i {
  font-size: 1.25rem;
  color: #7d5fff;
}

.discount_card .heading span {
  color: #5a5a5d;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.discount_card_title {
  margin-bottom: 1rem;
  color: #131318;
  font-family: 'Mulish', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
}

.discount_card_desc {
  margin-bottom: 1rem;
  color: #5a5a5d;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  max-width: 28.25rem;
}

.discount_card_price {
  margin-bottom: 1.5rem;
  color: #7d5fff;
  font-family: 'Mulish', sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
}
.discount_card_btn {
  padding: 0.875rem 1.5625rem;
  border-radius: 0.5rem;
  background: #7d5fff;

  color: #fff;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
}
/* ! deals and discount section end here */

/* ! perfect place section start here */

.perfect_place {
  margin-top: 6.25rem;
}

.perfect_place_title {
  margin-bottom: 1.5rem;
  max-width: 28rem;
  color: #131318;
  font-family: 'Mulish', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 3.75rem;
}

.perfect_place_desc {
  margin-bottom: 1.5rem;
  max-width: 33.25rem;
  color: #5a5a5d;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.perfect_place_list {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.perfect_place_list li {
  list-style: inside;
  max-width: 32.375rem;
  color: #131318;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625rem;
}

.perfect_place_btn {
  padding: 0.875rem 2.625rem;
  border-radius: 0.5rem;
  background: #7d5fff;
  color: #fff;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
}

.perfect_place_img {
  min-height: 26.5rem;
  border-radius: 1rem;
  background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0) 100%),
    url("../Images/perfect-place.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;

  position: relative;
}

.perfect_place_img > p {
  max-width: 17.25rem;
  color: #fff;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
}

.perfect_place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 1.75rem;
}
.controls {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  position: absolute;
  bottom: 5%;
}

.controls img,
.range {
  cursor: pointer;
}

.controls .range {
  width: 100%;
  height: 0.25rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
}

.controls .range::before {
  content: "";
  width: 35%;
  height: 0.25rem;
  background-color: #fff;
  position: absolute;
  border-radius: 0.5rem;
}

.control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls_left,
.controls_right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.controls .time {
  color: #f3f3f3;
  text-align: center;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
}
/* ! perfect place section end here */

/* ! top destination section start here */
.top_destination {
  margin-top: 6.25rem;
}
.top_destination_title {
  margin-bottom: 1.5rem;
  color: #131318;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  text-transform: capitalize;
}

.top_destination_desc {
  margin: 0 auto;
  max-width: 40.1875rem;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.top_destination_cards {
  margin-top: 1.875rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.top_destination_cards .card {
  padding: 0.75rem;
  border-radius: 0.375rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
}
.top_destination_cards .card_content {
  grid-column: 6 / span 6;
}

.top_destination_cards .card_img {
  grid-column: 1 / span 5;
}

.card_content {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.top_destination_cards .card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 0.375rem; */
}
.top_destination_cards .card_title_and_price {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.top_destination_cards .card_title_and_price h3 {
  color: #131318;
  font-family: 'Mulish', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
}
.top_destination_cards .card_title_and_price p {
  color: #5a5a5d;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.625rem;
}

.top_destination_cards .ratings {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.top_destination_cards .ratings i {
  color: rgb(255, 218, 6);
}

.top_destination_cards .card_desc {
  color: #5a5a5d;
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}
/* ! top destination section end here */
